@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans:wght@300&family=Pacifico&family=Poppins&family=Roboto:ital,wght@0,300;1,900&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Work+Sans:wght@300&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans:wght@300&family=Pacifico&family=Poppins&family=Roboto:ital,wght@0,300;1,900&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Shadows+Into+Light&family=Work+Sans:wght@300&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Exo+2&family=Open+Sans:wght@300&family=Pacifico&family=Poppins&family=Roboto:ital,wght@0,300;1,900&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Shadows+Into+Light&family=Work+Sans:wght@300&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Exo+2&family=Lobster&family=Open+Sans:wght@300&family=Pacifico&family=Poppins&family=Roboto:ital,wght@0,300;1,900&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Shadows+Into+Light&family=Work+Sans:wght@300&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Exo+2&family=Lemon&family=Lobster&family=Open+Sans:wght@300&family=Pacifico&family=Poppins&family=Roboto:ital,wght@0,300;1,900&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Shadows+Into+Light&family=Work+Sans:wght@300&family=Yellowtail&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

